/* Perguntas */
p#ask {
	font-family: arial, sans-serif;
	font-weight:550;
}
section#corpo {
	text-align: justify-all;
	width: 890px;
	padding: 10px;
}
a#resp{
	border: 2px solid #031c27;
	background-color: #031c27;
	color: white;
	font-size: 14pt;
	padding: 6px;
	float: right;
	margin: 10px;
	border-radius: 5px;
}